<h1>Todos los proyectos</h1>


<hr />
<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      Nombre
    </th>
    <th>
      Tipo
    </th>
    <th>
      Acciones
    </th>
  </tr>
  <% @pers.each do |p| %>
    <tr>
      <td><%= p.project.id %> </td><td> <%= p.project.name %> </td><td> <%= p.type.description %></td> 
      <td> 
        <%= link_to 'Mostrar', p.project %> - 
        <%= link_to 'Eliminar', p.project, confirm: 'Desea eliminar el proyecto?', method: :delete %>
      </td>
    </tr>

  <% end%>
</table>
