<!DOCTYPE html>
<html>
	<head>
		<title>Rubox</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<% if (params[:controller] != "sessions" && params[:controller] != "users") %>
			<div id="user_nav">  
				<%  user = current_user
					if user %>
					Bienvenido <%= user.name %> - <%= link_to "Salir", logout_path %>
				<% else %>
					<%= link_to "Crear usuario", signup_path %> - <%= link_to "Iniciar sesión", login_path %>
				<% end %>
			</div>
		<% end %>
			
		<%= yield %>

	</body>
</html>
